<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        </h1>Welcome to the Dashboard!</h1>
        <p>For uploading files, please use the upload link below:</p>
        <a href="/upload">Upload File</a>
    </body>
</html>
