<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <h1>Welcome to the Home Page</h1>
        <p>For file uploads</p>
        <a href="/logIn">Log in</a> or <a href="/register">Register</a>
        <a href="/delete">delete db</a>
    </body>
</html>
